__pycache__/
.cache/
*.pyc
.DS_Store
database
run*.sh
training*/
logs*
database
*.zip

logs-tacotron
mycreds.txt
devlog
myeval.py
training


data/*
eval_live.py
util/remove_slience.py
.idea/*

tools/data/*
